//
// Base styles
//

.btn {
  // scss-docs-start btn-css-vars
  --#{$prefix}btn-padding-x: #{$btn-padding-x};
  --#{$prefix}btn-padding-y: #{$btn-padding-y};
  --#{$prefix}btn-font-family: #{$btn-font-family};
  @include rfs($btn-font-size, --#{$prefix}btn-font-size);
  --#{$prefix}btn-font-weight: #{$btn-font-weight};
  --#{$prefix}btn-line-height: #{$btn-line-height};
  --#{$prefix}btn-color: #{$btn-color};
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-width: #{$btn-border-width};
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-border-radius: #{$btn-border-radius};
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-box-shadow: #{$btn-box-shadow};
  --#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};
  --#{$prefix}btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), .5);
  // scss-docs-end btn-css-vars

  display: inline-block;
  height: 32px; // Modus Customized
  padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
  font-family: var(--#{$prefix}btn-font-family);
  @include font-size(var(--#{$prefix}btn-font-size));
  font-weight: var(--#{$prefix}btn-font-weight);
  line-height: var(--#{$prefix}btn-line-height);
  color: var(--#{$prefix}btn-color);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);
  @include border-radius(var(--#{$prefix}btn-border-radius));
  @include gradient-bg(var(--#{$prefix}btn-bg));
  @include box-shadow(var(--#{$prefix}btn-box-shadow));
  @include transition($btn-transition);

  &:hover {
    color: var(--#{$prefix}btn-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: var(--#{$prefix}btn-hover-bg);
    border-color: var(--#{$prefix}btn-hover-border-color);
  }

  .btn-check + &:hover {
    // override for the checkbox/radio buttons
    color: var(--#{$prefix}btn-color);
    background-color: var(--#{$prefix}btn-bg);
    border-color: var(--#{$prefix}btn-border-color);
  }

  &:focus-visible {
    color: var(--#{$prefix}btn-hover-color);
    @include gradient-bg(var(--#{$prefix}btn-hover-bg));
    border-color: var(--#{$prefix}btn-hover-border-color);
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
    } @else {
      box-shadow: var(--#{$prefix}btn-focus-box-shadow);
    }
  }

  .btn-check:focus-visible + & {
    border-color: var(--#{$prefix}btn-hover-border-color);
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
    } @else {
      box-shadow: var(--#{$prefix}btn-focus-box-shadow);
    }
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--#{$prefix}btn-active-color);
    background-color: var(--#{$prefix}btn-active-bg);
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: var(--#{$prefix}btn-active-border-color);
    @include box-shadow(var(--#{$prefix}btn-active-shadow));

    &:focus-visible {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows {
        box-shadow: var(--#{$prefix}btn-active-shadow), var(--#{$prefix}btn-focus-box-shadow);
      } @else {
        box-shadow: var(--#{$prefix}btn-focus-box-shadow);
      }
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    color: var(--#{$prefix}btn-disabled-color);
    pointer-events: none;
    background-color: var(--#{$prefix}btn-disabled-bg);
    background-image: if($enable-gradients, none, null);
    border-color: var(--#{$prefix}btn-disabled-border-color);
    opacity: var(--#{$prefix}btn-disabled-opacity);
    @include box-shadow(none);
  }
}


//
// Alternate buttons
//

// scss-docs-start btn-variant-loops
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == "light" {
      @include button-variant(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == "dark" {
      @include button-variant(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-variant($value, $value);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
// scss-docs-end btn-variant-loops


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  --#{$prefix}btn-font-weight: #{$font-weight-normal};
  --#{$prefix}btn-color: #{$btn-link-color};
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-hover-color: #{$btn-link-hover-color};
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-active-color: #{$btn-link-hover-color};
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-disabled-color: #{$btn-link-disabled-color};
  --#{$prefix}btn-disabled-border-color: transparent;
  --#{$prefix}btn-box-shadow: 0 0 0 #000; // Can't use `none` as keyword negates all values when used with multiple shadows
  --#{$prefix}btn-focus-shadow-rgb: #{$btn-link-focus-shadow-rgb};

  text-decoration: $link-decoration;
  @if $enable-gradients {
    background-image: none;
  }

  &:hover,
  &:focus-visible {
    text-decoration: $link-hover-decoration;
  }

  &:focus-visible {
    color: var(--#{$prefix}btn-color);
  }

  &:hover {
    color: var(--#{$prefix}btn-hover-color);
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
  height: 48px; // Modus Customized
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius);
  height: 24px; // Modus Customized
}

.btn-icon-only.btn-sm {
  width: 24px !important;
  height: 24px !important;
  padding: 2px;
}

.btn-icon-only {
  width: 2rem;
  height: 2rem;
  padding: 7px 5px;
  line-height: 1.5;
  text-align: center;
}

.btn-icon-only.btn-lg {
  width: 3rem;
  height: 3rem;
  padding: 2px;
}

.btn-icon-only > * {
  text-align: center;
}

.btn .modus-icons {
  position: relative;
  top: 3px;
  font-size: 20px;
  line-height: .1;
}

.btn .modus-icons.left-icon {
  margin-right: .5rem;
  margin-left: -6px;
}

.btn-sm .modus-icons {
  font-size: 14px;
}

.btn-sm .modus-icons.left-icon {
  top: 2px;
  margin-right: .25rem;
  margin-left: -3px;
  font-size: .875rem;
}

.btn-lg .modus-icons {
  font-size: 20px;
}

.btn-primary {
  --bs-btn-active-bg: #00548a;
  --bs-btn-active-border-color: #00548a;
  --bs-btn-hover-bg: #0082d6;
  --bs-btn-hover-border-color: #0082d6;
}

.btn-secondary {
  --bs-btn-bg: #6a6e79;
  --bs-btn-border: #6a6e79;
  --bs-btn-active-bg: #5e626b;
  --bs-btn-active-border-color: #5e626b;
  --bs-btn-hover-bg: #838793;
  --bs-btn-hover-border-color: #838793;
}

.btn-tertiary {
  --bs-btn-color: #252a2e;
  --bs-bgn-bg: #cbcdd6;
}

.btn-outline-primary {
  --bs-btn-hover-color: #0082d6;
  --bs-btn-hover-bg: rgba(0, 99, 163, .15);
  --bs-btn-active-color: #00548a;
  --bs-btn-active-bg: rgba(0, 99, 163, .2);
}

.btn-outline-secondary {
  --bs-btn-active-color: #252a2e;
  --bs-btn-hover-color: #354551;
  --bs-btn-hover-bg: rgba(95, 105, 132, .15);
  --bs-btn-active-bg: rgba(95, 105, 132, .2);
}

.btn-text-primary {
  --bs-btn-color: #0063a3;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-color: #0082d6;
  --bs-btn-hover-bg: rgba(0, 99, 163, .2);
  --bs-btn-active-color: #004470;
  --bs-btn-active-bg: rgba(0, 99, 163, .3);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-warning {
  --bs-btn-color: #252a2e;
  --bs-btn-bg: #fbad26;
  --bs-btn-border-color: #b44e2a;
  --bs-btn-hover-bg: #fec157;
  --bs-btn-hover-border-color: #b44e2a;

  &:focus-visible {
    background-color: #e49325;
  }
}

@include color-mode(dark) {
  .btn-primary {
    --bs-btn-color: #171c1e;
    --bs-btn-bg: #019aeb;
    --bs-btn-border-color: #019aeb;
    --bs-btn-hover-color: #171c1e;
    --bs-btn-active-color: #171c1e;

    &:not(:disabled):not(.disabled) {
      &:hover {
        --bs-btn-bg: #217cbb !important;
        --bs-btn-border-color: #217cbb !important;
      }

      &:active,
      &.active {
        --bs-btn-bg: #004f83;
        --bs-btn-border-color: #004f83;
      }
    }
  }

  .btn-tertiary {
    --bs-btn-color: #171c1e;
    --bs-btn-bg: #cbcdd6;
    --bs-btn-border-color: #cbcdd6;
  }

  .btn-danger {
    --bs-btn-bg: #da212c;
    --bs-btn-border-color: #da212c;
  }

  .btn-outline-primary {
    --bs-btn-color: #019aeb;
    --bs-btn-active-color: #019aeb;
    --bs-btn-active-bg: rgba(1, 154, 235, .3);
    --bs-btn-border-color: #019aeb;
    --bs-btn-active-border-color: #019aeb;
    --bs-btn-hover-color: #20b2ff;
    --bs-btn-hover-bg: rgba(0, 154, 236, .15);
    --bs-btn-hover-border-color: #20b2ff;
  }

  .btn-outline-secondary {
    --bs-btn-color: #cbcdd6;
    --bs-btn-active-color: #cbcdd6;
    --bs-btn-hover-color: #cbcdd6;
    --bs-btn-hover-bg: rgba(198, 202, 219, .15);
    --bs-btn-border-color: #cbcdd6;
    --bs-btn-active-border-color: #cbcdd6;
    --bs-btn-hover-border-color: #cbcdd6;
    --bs-btn-active-bg: rgba(203, 205, 214, .3);
  }

  .btn-outline-tertiary {
    --bs-btn-hover-bg: rgba(95, 105, 132, .15);
  }

  .btn-outline-danger {
    --bs-btn-hover-bg: rgba(231, 20, 33, .15);
  }
}
