<footer class="bd-footer py-2 py-md-4 mt-5">
  <div class="container py-2 py-md-4 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <p class="mb-1">This documentation is an adaptation made by Trimble. Original version designed and built
          by the <a href="/docs/{{ .Site.Params.docs_version }}/about/team/">Bootstrap team</a> with the help of <a
            href="{{ .Site.Params.repo }}/graphs/contributors">their contributors</a>.</p>
        <p class="mb-1">Code licensed <a href="{{ .Site.Params.repo }}/blob/main/LICENSE" target="_blank"
            rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank"
            rel="license noopener">CC BY 3.0</a>.</p>
        <p>Currently v{{ .Site.Params.current_version }}. </p>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/">Docs</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/">Getting started</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/starter-template/">Starter
              template</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Modus Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/modus-bootstrap">Bootstrap</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/modus-icons">Modus Icons</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/modus-bootstrap/issues">Issues</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/modus-bootstrap/discussions">Discussions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
