<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=fallback">
<!-- To speed up the homepage rendering time the Modus Icons CSS load on every page except homepage where they aren't used -->
{{- if not .IsHome -}}
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@trimble-oss/modus-icons@1.21.0/dist/modus-outlined/fonts/modus-icons.css">
{{ end }}

<link rel="icon" href="/favicon.svg" type="image/svg+xml">
{{ template "_internal/opengraph.html" . }}

<!-- polyfills for old browsers -->
<script nomodule crossorigin="anonymous"
  src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js"></script>

<script src="/js/jquery.min.js"></script>
<script>var baseurl = "{{- .Site.BaseURL -}}";</script>
