{{ define "body_override" }}<body{{ if (eq .Page.Params.toc true) }} data-bs-spy="scroll"
  data-bs-target="#TableOfContents" {{ end }}>{{ end }}
  {{- define "main" }}

  <div class="container-fluid">
    <div class="row row-main-x px-0">

      <div class="col col-auto px-0 collapse collapse-horizontal bg-dark bg-opacity-10" id="sidebar">
        <div id="sidebar-menu" class="z-2 sticky-top sticky-offset shadow-sm overflow-auto w-100">
          {{ partial "col-sidebar-menu" . }}
        </div>
      </div>

      <div class="col col-main border-start p-0 overflow-y-hidden">

        <main class="container mx-auto mt-5" style="max-width: 1090px; min-height: calc(100vh - 182px);">
          {{ partial "home/masthead" . }}
          {{ partial "home/masthead-followup" . }}
        </main>

        {{ .Content }}

        <footer class="p-2 footer py-4 bg-secondary bg-opacity-10">
          {{ partial "footer" . }}
        </footer>
      </div>

    </div>
  </div>

  {{ end }}
