.search-container {
  left: -12px;
  width: 40px;
}

.form-control-search {
  top: 10px;
  right: 5px;
  left: 39px;
  left: auto;
  z-index: 1210;
  width: 0 !important;
  padding: 0;
  background-image: url("https://cdn.jsdelivr.net/npm/@trimble-oss/modus-icons@1.7.1/dist/modus-solid/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  border-right: 0;
  border-left: 0;
  transition: all .2s; // stylelint-disable-line property-disallowed-list
}

.form-control-search:focus {
  width: 363px !important;
  max-width: calc(100vw - 200px); // stylelint-disable-line function-disallowed-list
  padding: 0 4px 4px 16px;
  text-indent: 18px;
  visibility: visible;
}

.form-control-search:focus + .btn-search {
  pointer-events: none !important;
  background-color: transparent;
  transition: all 1s; // stylelint-disable-line property-disallowed-list
}

.form-control-search:focus + .btn-search img {
  opacity: 0;
}

.btn-search {
  top: 0;
}

.btn-search i {
  margin-top: 18px;
}

[data-bs-theme="dark"] .form-control-search {
  background-image: url("/img/icons/search-white.svg") !important;
}

[data-bs-theme="dark"] .btn-search img {
  filter: invert(1);
}
