.range-container {
  flex-direction: column;
  width: 400px;
}

.sliders-control {
  height: 18px;
  background: repeating-linear-gradient(90deg, #888, #888 1px, transparent 1px, transparent 38.8px) no-repeat 50% 50%;
  background-position: bottom center;
  background-size: 393px 6px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  appearance: none;
  pointer-events: all;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #0063a3;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  pointer-events: all;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #0063a3;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: .5;
}

input[type="range"] {
  height: 6px;
  appearance: none;
}

.input-group-text {
  background-color: var(--bs-tertiary-color);
}
