name: Publish package to npmjs

on:
  release:
    types:
      - published
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 20

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/modus-bootstrap'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "${{ env.NODE }}"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run css-lint

      - name: Build CSS
        run: npm run css

      - name: Build JS
        run: npm run js-minify

      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
