name: Review Reminder

on:
  schedule:
    - cron: "0 9 * * *"

permissions:
  contents: read

jobs:
  deploy:
    name: Review reminders
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/modus-bootstrap'

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: blombard/review-reminder@e4bb52f8df46e4b9c752451bbd01a412c4502ed9 # master
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          reminder-comment: "Don't forget to review this PR !"
          days-before-reminder: "1"
