name: SonarQube Scan

on:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

env:
  NODE: 18

permissions:
  contents: read

jobs:
  scan:
    name: Sonar Scan Runner
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/website-modus.trimble.com'
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "${{ env.NODE }}"

      - name: Run Sonar Scan Action
        uses: sonarsource/sonarqube-scan-action@5837ebfccaf5b347ae1783644ecff31e2bafa086 # master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
