name: SonarQube Scan

on:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

env:
  NODE: 18

permissions:
  contents: read

jobs:
  scan:
    name: Sonar Scan Runner
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/website-modus.trimble.com'
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "${{ env.NODE }}"

      - name: Run Sonar Scan Action
        uses: sonarsource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
